trunk/output
**/obj
**/bin
trunk/**/obj/*
trunk/**/bin/*
trunk/**/**/obj/*
trunk/**/**/bin/*
trunk/test-results
trunk/**/test-results
trunk/**/**/test-results
**/*.pidb
trunk/**/*.pidb
trunk/**/**/*.pidb
**/*.csproj.user
trunk/**/*.csproj.user
trunk/**/**/*.csproj.user
trunk/**/**/**/*.csproj.user
*ReSharper*
*_ReSharper*

